<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      <%= findUser.Title %> <%= findUser.first_name %> <%= findUser.last_name %>
    </h1>

    <h3>Emai: <%= findUser.email %></h3>
    <h4>Télephone: <%= findUser.telephone %></h4>
    <h4>Date de naissance: <%= findUser.dateDeNaissance %></h4>
    <button><a href="/addUser">add user</a></button>
  </body>
</html>
