<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Name:<%= findUser.first_name %></h1>
    <h2><%= findUser.last_name %></h2>
    <h3><%= findUser.email %></h3>
    <h4><%= findUser.telephone %></h4>
    <h5><%= findUser.dateDeNaissance %></h5>
  </body>
</html>
